<div class="app-header d-flex justify-content-between">
  <a href="#"><img src="/assets/images/logo.png" alt="aiml"></a>

  <div class="d-flex align-items-center">
    <div class="dropdown d-inline-block user-dropdown" ngbDropdown placement="bottom-right">
      <button type="button" ngbDropdownToggle class="hedaer-profile waves-effect" id="page-header-user-dropdown"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="assets/images/icon.png" alt="Header Avatar" class="mr-3">
        <span>Kevin</span>
        <i class="fas fa-chevron-down ml-2"></i>
      </button>

      <div class="dropdown-menu" ngbDropdownMenu>
        <!-- item-->
        <a class="dropdown-item" href="javascript: void(0);">
          <i class="far fa-folder mr-2"></i>
          Add Project
        </a>
        <a class="dropdown-item" href="javascript: void(0);">
          <i class="far fa-user-circle mr-2"></i>
          Profile
        </a>
        <a class="dropdown-item d-block" href="javascript: void(0);">
          <i class="fas fa-cog mr-2"></i>
          Settings
        </a>

        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript: void(0);">
          <i class="fas fa-sign-out-alt mr-2"></i>
          Logout</a>
      </div>
    </div>
  </div>

</div>