<div class="login-box-wrapper">
    <div class="login-box">
        <h1 class="mb-4 pb-3">Forgot Password</h1>
        <div class="row">
            <div class="col-12">
                <div class="form-with-icon">  
                    <i class="far fa-envelope form-icon ml-3"></i>
                    <input class="form-control full-width mb-4 pl-5" autocomplete="off" type="email" placeholder="Registered email address">
                </div>
            </div>          
            <div class="col-12 d-flex justify-content-center pt-4">
                <button type="submit" class="login-button">Send</button>
            </div>    
            <div class="col-12 d-flex justify-content-center mt-4">
                <a routerLink="/login">Back to login</a>
            </div>
            <!-- <div class="col-12">
                <label class="col-form-label">Password</label>
                <ng-select class="custom-ng-select mb-4" placeholder="Select">
                    <ng-option value="Male">Male</ng-option>
                    <ng-option value="Female">Female</ng-option>
                </ng-select>
            </div> -->
        </div>    
    </div>    
</div>    
